# ---
# - name: Register snap package manager usage
#   ansible.builtin.shell: lsblk | grep -wc "/snap"
#   changed_when: false
#   failed_when: prelim_snap_pkg_mgr.rc not in [ 0, 1 ]
#   register: prelim_snap_pkg_mgr

# - name: Register squashfs kernel builtin
#   ansible.builtin.shell: cat /lib/modules/$(uname -r)/modules.builtin | grep "squashfs"
#   changed_when: false
#   failed_when: prelim_squashfs_builtin.rc not in [ 0, 1 ]
#   register: prelim_squashfs_builtin

# - name: Ensure /etc/modprobe.d/hardening.conf exists with correct permissions and ownership
#   ansible.builtin.copy:
#     dest: /etc/modprobe.d/hardening.conf
#     content: ''
#     mode: '0644'
#     owner: root
#     group: root
#     force: false

# - name: Ensure filesystem kernel modules are not available
#   block:
#     - name: Disable filesystem module (install)
#       ansible.builtin.lineinfile:
#         path: /etc/modprobe.d/hardening.conf
#         regexp: "^(#)?install {{ item }}(\\s|$)"
#         line: "install {{ item }} /bin/false"
#       loop: "{{ hardening.configure_filesystem_kernel_modules.disabled_filesystems }}"
#       when: (item != 'squashfs') or (prelim_squashfs_builtin.rc != 0 and prelim_snap_pkg_mgr.rc == 1)

#     - name: Disable filesystem module (blacklist)
#       ansible.builtin.lineinfile:
#         path: /etc/modprobe.d/hardening.conf
#         regexp: "^(#)?blacklist {{ item }}$"
#         line: "blacklist {{ item }}"
#       loop: "{{ hardening.configure_filesystem_kernel_modules.disabled_filesystems }}"
#       when: (item != 'squashfs') or (prelim_squashfs_builtin.rc != 0 and prelim_snap_pkg_mgr.rc == 1)

#     - name: Disable filesystem module (blacklist)
#       community.general.modprobe:
#         name: "{{ item }}"
#         state: absent
#       loop: "{{ hardening.configure_filesystem_kernel_modules.disabled_filesystems }}"
#       when: (item != 'squashfs') or (prelim_squashfs_builtin.rc != 0 and prelim_snap_pkg_mgr.rc == 1)

- name: Configure filesystem kernel modules
  dtvlinux.cis_hardening.configure_filesystem_kernel_modules:
    config_file: "{{ dtvlinux_cis_hardening_configure_filesystem_kernel_modules_config_file }}"
    modules: "{{ dtvlinux_cis_hardening_configure_filesystem_kernel_modules_modules }}" 
#   register: result

# - debug:
#     var: result
