---
# 1 - Initial Setup
# -------------------------

## 1.1 - Filesystem
## ----------------------

### 1.1.1 - Configure Filesystem Kernel Modules
### ---------------------------------------------------

#### 1.1.1.1 - Ensure cramfs kernel module is not available (Automated)
cis_rule_1_1_1_1_apply: true
cis_rule_1_1_1_1_conf: /etc/modprobe.d/cis_cramfs.conf

#### 1.1.1.2 - Ensure freevxfs kernel module is not available (Automated)
cis_rule_1_1_1_2_apply: true
cis_rule_1_1_1_2_conf: /etc/modprobe.d/cis_freevxfs.conf

#### 1.1.1.3 - Ensure hfs kernel module is not available (Automated)
cis_rule_1_1_1_3_apply: true
cis_rule_1_1_1_3_conf: /etc/modprobe.d/cis_hfs.conf

#### 1.1.1.4 - Ensure hfsplus kernel module is not available (Automated)
cis_rule_1_1_1_4_apply: true
cis_rule_1_1_1_4_conf: /etc/modprobe.d/cis_hfsplus.conf

#### 1.1.1.5 - Ensure jffs2 kernel module is not available (Automated)
cis_rule_1_1_1_5_apply: true
cis_rule_1_1_1_5_conf: /etc/modprobe.d/cis_jffs2.conf

#### 1.1.1.6 - Ensure overlayfs kernel module is not available (Automated)
cis_rule_1_1_1_6_apply: true
cis_rule_1_1_1_6_conf: /etc/modprobe.d/cis_overlayfs.conf

#### 1.1.1.7 - Ensure squashfs kernel module is not available (Automated)
cis_rule_1_1_1_7_apply: true
cis_rule_1_1_1_7_conf: /etc/modprobe.d/cis_squashfs.conf

#### 1.1.1.8 - Ensure udf kernel module is not available (Automated)
cis_rule_1_1_1_8_apply: true
cis_rule_1_1_1_8_conf: /etc/modprobe.d/cis_udf.conf

#### 1.1.1.9 - Ensure usb-storage kernel module is not available (Automated)
cis_rule_1_1_1_9_apply: true
cis_rule_1_1_1_9_conf: /etc/modprobe.d/cis_usb-storage.conf

#### 1.1.1.10 - Ensure unused filesystems kernel modules are not available (Manual)
cis_rule_1_1_1_10_apply: false
cis_rule_1_1_1_10_conf: /etc/modprobe.d/cis_1_1_1_10.conf
cis_rule_1_1_1_10_module_afs: false
cis_rule_1_1_1_10_module_ceph: false
cis_rule_1_1_1_10_module_exfat: false
cis_rule_1_1_1_10_module_ext: false
cis_rule_1_1_1_10_module_fat: false
cis_rule_1_1_1_10_module_fscache: false
cis_rule_1_1_1_10_module_fuse: false
cis_rule_1_1_1_10_module_gfs2: false
cis_rule_1_1_1_10_module_nfs_common: false
cis_rule_1_1_1_10_module_nfsd: false
cis_rule_1_1_1_10_module_smbfs_common: false

### 1.1.2 - Configure Filesystem Partitions
### ---------------------------------------------------

### There is many different ways to partition a system. Ideally, partitioning
### is performed during initial install, though not always possible. The simplest 
### solution that should please the majority, is attaching a dedicated disk that
### can be configured soley for CIS hardening purposes. The disk will use LVM and
### default to ext4 for ease of resizing if/when required at a later date. The
### disk key below will be ignored once the volume group has been created. If you
### already have some or all of the partitions present, only set apply to true if
### you wish to have them migrated into Ansibles control, else leave as false and
### manually correct any mount options. As always, disk/partition changes should
### be performed only if a known valid backup is present and out of hours or
### during agreed maintenance windows, etc.

### 1.1.2 - Whether to apply section 1.1.2 or not
cis_section_1_1_2_apply: false

### 1.1.2 - example - Azure lun0 data disk attachment
cis_section_1_1_2_disk_path: /dev/disk/azure/scsi1/lun0

### 1.1.2 - Volume group name
cis_section_1_1_2_vg_name: hardening_vg

#### 1.1.2.1 - Configure /tmp
cis_rule_1_1_2_1_apply: true
cis_rule_1_1_2_1_lv_name: tmp_lv
cis_rule_1_1_2_1_lv_size: 2G
cis_rule_1_1_2_1_fs_type: ext4
cis_rule_1_1_2_1_fs_options: defaults,rw,nosuid,nodev,noexec,relatime
cis_rule_1_1_2_1_fs_dump: 0
cis_rule_1_1_2_1_fs_passno: 0

#### 1.1.2.2 - Configure /dev/shm
cis_rule_1_1_2_2_apply: true

#### 1.1.2.3 - Configure /home
cis_rule_1_1_2_3_apply: true
cis_rule_1_1_2_3_lv_name: home_lv
cis_rule_1_1_2_3_lv_size: 2G
cis_rule_1_1_2_3_fs_type: ext4
cis_rule_1_1_2_3_fs_options: defaults,rw,nosuid,nodev,relatime
cis_rule_1_1_2_3_fs_dump: 0
cis_rule_1_1_2_3_fs_passno: 0






  # configure_filesystem_partitions:
  #   disk: /dev/disk/by-path/pci-0000:04:00.0
  #   partitions:
  #     /tmp:
  #       size: 2G
  #       fstype: ext4
  #       options: defaults,rw,nosuid,nodev,noexec,relatime
  #       dump: 0
  #       fschk: 0
  #     /dev/shm:
  #       size: 2G
  #       options: defaults,rw,nosuid,nodev,noexec,relatime
  #     /home:
  #       size: 2G
  #       fstype: ext4
  #       options: defaults,rw,nosuid,nodev,relatime
  #       dump: 0
  #       fschk: 0
  #     /var:
  #       size: 8G
  #       fstype: ext4
  #       options: defaults,rw,nosuid,nodev,relatime
  #       dump: 0
  #       fschk: 0
  #     /var/tmp:
  #       size: 2G
  #       fstype: ext4
  #       options: defaults,rw,nosuid,nodev,noexec,relatime
  #       dump: 0
  #       fschk: 0
  #     /var/log:
  #       size: 2G
  #       fstype: ext4
  #       options: defaults,rw,nosuid,nodev,noexec,relatime
  #       dump: 0
  #       fschk: 0
  #     /var/log/audit:
  #       size: 2G
  #       fstype: ext4
  #       options: defaults,rw,nosuid,nodev,noexec,relatime
  #       dump: 0
  #       fschk: 0
