---
- name: 1.1.2.7.1 | Ensure /var/log/audit is a separate partition
  dtvlinux.cis_hardening.dedicated_disk_partition:
    path: /var/log/audit
    device: "{{ cis_ubuntu2404_dedicated_disk_device }}"
    vg: "{{ cis_ubuntu2404_dedicated_disk_vgname }}"
    lv: "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_lvol }}"
    size: "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_size }}"
    fstype: "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_type }}"
    sync: true
  register: var_log_audit_partition_result
  notify: dtvlinux.cis_hardening.reboot

- name: 1.1.2.7.x | Configure /var/log/audit | Task block
  when: var_log_audit_partition_result is success
  block:
    - name: 1.1.2.7.2 | Ensure nodev option set on /var/log/audit partition
      when: cis_ubuntu2404_var_log_audit_nodev_apply | bool
      vars:
        current_opts: "{{ ansible_facts['mounts'] | dtvlinux.cis_hardening.current_mount_options('/var/log/audit') }}"
      ansible.posix.mount:
        path: /var/log/audit
        src: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_var_log_audit_lvol }}"
        fstype: "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_type }}"
        opts: "{{ (current_opts.split(',') + ['nodev']) | unique | sort | join(',') }}"
        state: present
        backup: yes
      register: var_log_audit_fstab_nodev
      notify: Remount /var/log/audit

    - name: 1.1.2.7.3 | Ensure nosuid option set on /var/log/audit partition
      when: cis_ubuntu2404_var_log_audit_nosuid_apply | bool
      vars:
        current_opts: "{{ ansible_facts['mounts'] | dtvlinux.cis_hardening.current_mount_options('/var/log/audit', [var_log_audit_fstab_nodev]) }}"
      ansible.posix.mount:
        path: /var/log/audit
        src: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_var_log_audit_lvol }}"
        fstype: "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_type }}"
        opts: "{{ (current_opts.split(',') + ['nosuid']) | unique | sort | join(',') }}"
        state: present
      register: var_log_audit_fstab_nosuid
      notify: Remount /var/log/audit

    - name: 1.1.2.7.4 | Ensure noexec option set on /var/log/audit partition
      when: cis_ubuntu2404_var_log_audit_noexec_apply | bool
      vars:
         current_opts: "{{ ansible_facts['mounts'] | dtvlinux.cis_hardening.current_mount_options('/var/log/audit', [var_log_audit_fstab_nodev, var_log_audit_fstab_nosuid]) }}"
      ansible.posix.mount:
        path: /var/log/audit
        src: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_var_log_audit_lvol }}"
        fstype: "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_type }}"
        opts: "{{ (current_opts.split(',') + ['noexec']) | unique | sort | join(',') }}"
        state: present
      notify: Remount /var/log/audit
