---
- name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Gather /tmp mount info
  ansible.builtin.shell: grep ' /tmp ' /proc/mounts | awk '{print $3,$4}'
  register: tmp_info
  changed_when: false

- name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Set /tmp mount facts
  ansible.builtin.set_fact:
    tmp_fstype: "{{ tmp_info.stdout.split()[0] }}"
    tmp_opts: "{{ tmp_info.stdout.split()[1] }}"

- name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Check /tmp exists in fstab
  ansible.builtin.command:
    cmd: grep -E '^\S+\s+/tmp\s+' /etc/fstab
  register: tmp_fstab_check
  failed_when: false
  changed_when: false

- name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Confirm /tmp is seperate mount
  ansible.builtin.debug:
    msg: "/tmp is a seperate mount"

- name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Convert to fstab entry
  when:
    - tmp_fstype == 'tmpfs'
    - tmp_fstab_check.rc != 0
  block:
    - name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Convert to fstab entry
      ansible.posix.mount:
        path: /tmp
        src: tmpfs
        fstype: tmpfs
        opts: "{{ tmp_opts }}"
        state: present
      register: tmp_partition_result
      notify: Remount /tmp

    - name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Disable systemd tmp.mount
      when: tmp_partition_result is success
      ansible.builtin.systemd_service:
        name: tmp.mount
        enabled: false
      register: tmp_disable_result
      failed_when: 
        - tmp_disable_result is failed
        - "'Could not find' not in tmp_disable_result.msg"

- name: 1.1.2.1.2 | Ensure nodev option set on /tmp partition
  when: cis_ubuntu2404_tmp_nodev_apply | bool
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^(\S+\s+/tmp\s+\S+\s+)(?!.*\bnodev\b)(\S+)(\s+.*)$'
    replace: '\1\2,nodev\3'
  notify: Remount /tmp
  
- name: 1.1.2.1.3 | Ensure nosuid option set on /tmp partition
  when: cis_ubuntu2404_tmp_nosuid_apply | bool
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^(\S+\s+/tmp\s+\S+\s+)(?!.*\bnosuid\b)(\S+)(\s+.*)$'
    replace: '\1\2,nosuid\3'
  notify: Remount /tmp

- name: 1.1.2.1.4 | Ensure noexec option set on /tmp partition
  when: cis_ubuntu2404_tmp_noexec_apply | bool
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^(\S+\s+/tmp\s+\S+\s+)(?!.*\bnoexec\b)(\S+)(\s+.*)$'
    replace: '\1\2,noexec\3'
  notify: Remount /tmp
  