---
- name: 1.1.2.6.1 | Ensure /var/log is a separate partition
  dtvlinux.cis_hardening.dedicated_disk_partition:
    path: /var/log
    device: "{{ cis_ubuntu2404_dedicated_disk_device }}"
    vg: "{{ cis_ubuntu2404_dedicated_disk_vgname }}"
    lv: "{{ cis_ubuntu2404_dedicated_disk_var_log_lvol }}"
    size: "{{ cis_ubuntu2404_dedicated_disk_var_log_size }}"
    fstype: "{{ cis_ubuntu2404_dedicated_disk_var_log_type }}"
    sync: true
  register: var_log_partition_result
  notify: Reboot system

- name: 1.1.2.6.x | Configure /var/log | Task block
  when: var_log_partition_result is success
  block:
    - name: 1.1.2.6.2 | Ensure nodev option set on /var/log partition
      when: cis_ubuntu2404_var_log_nodev_apply | bool
      vars:
        current_opts: "{{ (ansible_facts['mounts'] | selectattr('mount', 'equalto', '/var/log') | first).options | default('defaults') }}"
      ansible.posix.mount:
        path: /var/log
        src: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_var_log_lvol }}"
        fstype: "{{ cis_ubuntu2404_dedicated_disk_var_log_type }}"
        opts: "{{ (current_opts.split(',') + ['nodev']) | unique | join(',') }}"
        state: present
        backup: yes
      register: var_log_fstab_nodev
      notify: Remount /var/log

    - name: 1.1.2.6.3 | Ensure nosuid option set on /var/log partition
      when: cis_ubuntu2404_var_log_nosuid_apply | bool
      vars:
        current_opts: >-
          {{ var_log_fstab_nodev.opts if var_log_fstab_nodev is changed 
             else (ansible_facts['mounts'] | selectattr('mount', 'equalto', '/var/log') | first).options | default('defaults') }}
      ansible.posix.mount:
        path: /var/log
        src: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_var_log_lvol }}"
        fstype: "{{ cis_ubuntu2404_dedicated_disk_var_log_type }}"
        opts: "{{ (current_opts.split(',') + ['nosuid']) | unique | join(',') }}"
        state: present
      register: var_log_fstab_nosuid
      notify: Remount /var/log

    - name: 1.1.2.6.4 | Ensure noexec option set on /var/log partition
      when: cis_ubuntu2404_var_log_noexec_apply | bool
      vars:
        current_opts: >-
          {{ var_log_fstab_nosuid.opts if var_log_fstab_nosuid is changed
             else (var_log_fstab_nodev.opts if var_log_fstab_nodev is changed 
             else (ansible_facts['mounts'] | selectattr('mount', 'equalto', '/var/log') | first).options | default('defaults')) }}
      ansible.posix.mount:
        path: /var/log
        src: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_var_log_lvol }}"
        fstype: "{{ cis_ubuntu2404_dedicated_disk_var_log_type }}"
        opts: "{{ (current_opts.split(',') + ['noexec']) | unique | join(',') }}"
        state: present
      notify: Remount /var/log
