---
- name: 1.1.2.4.1 | Ensure /var is a separate partition | Check /var exists in fstab
  ansible.builtin.command:
    cmd: grep -E '^\S+\s+/var\s+' /etc/fstab
  register: var_fstab_check
  failed_when: false
  changed_when: false

- name: 1.1.2.4.1 | Ensure /var is a separate partition | Confirm /var is seperate mount
  ansible.builtin.debug:
    msg: "/var is a seperate mount"

- name: 1.1.2.4.2 | Ensure nodev option set on /var partition
  when:
    - cis_ubuntu2404_var_nodev_apply | bool
    - var_fstab_check.rc == 0
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^(\S+\s+/var\s+\S+\s+)(?!.*\bnodev\b)(\S+)(\s+.*)$'
    replace: '\1\2,nodev\3'
  notify: Remount /var
  
- name: 1.1.2.4.3 | Ensure nosuid option set on /var partition
  when:
    - cis_ubuntu2404_var_nosuid_apply | bool
    - var_fstab_check.rc == 0
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^(\S+\s+/var\s+\S+\s+)(?!.*\bnosuid\b)(\S+)(\s+.*)$'
    replace: '\1\2,nosuid\3'
  notify: Remount /var
  