---
- name: 1.1.2.1.1 | Ensure /tmp is a separate partition
  dtvlinux.cis_hardening.dedicated_disk_partition:
    path: /tmp
    device: "{{ cis_ubuntu2404_dedicated_disk_device }}"
    vg: "{{ cis_ubuntu2404_dedicated_disk_vgname }}"
    lv: "{{ cis_ubuntu2404_dedicated_disk_tmp_lvol }}"
    size: "{{ cis_ubuntu2404_dedicated_disk_tmp_size }}"
    fstype: "{{ cis_ubuntu2404_dedicated_disk_tmp_type }}"
    sync: false
  register: tmp_partition_result
  notify: Reboot system

- name: 1.1.2.1.x | Configure /tmp | Task block
  when: tmp_partition_result is success
  block:
    - name: 1.1.2.1.2 | Ensure nodev option set on /tmp partition
      when: cis_ubuntu2404_tmp_nodev_apply | bool
      vars:
        current_opts: "{{ (ansible_facts['mounts'] | selectattr('mount', 'equalto', '/tmp') | first).options | default('defaults') }}"
      ansible.posix.mount:
        path: /tmp
        src: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_tmp_lvol }}"
        fstype: "{{ cis_ubuntu2404_dedicated_disk_tmp_type }}"
        opts: "{{ (current_opts.split(',') + ['nodev']) | unique | join(',') }}"
        state: present
        backup: yes
      register: tmp_fstab_nodev

    - name: 1.1.2.1.3 | Ensure nosuid option set on /tmp partition
      when: cis_ubuntu2404_tmp_nosuid_apply | bool
      vars:
        current_opts: >-
          {{ tmp_fstab_nodev.opts if tmp_fstab_nodev is changed 
             else (ansible_facts['mounts'] | selectattr('mount', 'equalto', '/tmp') | first).options | default('defaults') }}
      ansible.posix.mount:
        path: /tmp
        src: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_tmp_lvol }}"
        fstype: "{{ cis_ubuntu2404_dedicated_disk_tmp_type }}"
        opts: "{{ (current_opts.split(',') + ['nosuid']) | unique | join(',') }}"
        state: present
      register: tmp_fstab_nosuid

    - name: 1.1.2.1.4 | Ensure noexec option set on /tmp partition
      when: cis_ubuntu2404_tmp_noexec_apply | bool
      vars:
        current_opts: >-
          {{ tmp_fstab_nosuid.opts if tmp_fstab_nosuid is changed 
             else (tmp_fstab_nodev.opts if tmp_fstab_nodev is changed 
             else (ansible_facts['mounts'] | selectattr('mount', 'equalto', '/tmp') | first).options | default('defaults')) }}
      ansible.posix.mount:
        path: /tmp
        src: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_tmp_lvol }}"
        fstype: "{{ cis_ubuntu2404_dedicated_disk_tmp_type }}"
        opts: "{{ (current_opts.split(',') + ['noexec']) | unique | join(',') }}"
        state: present
