---
- name: 1.1.2.1 | Configure /tmp | Import dedicated disk tasks
  when:
    - cis_ubuntu2404_dedicated_disk_apply
    - cis_ubuntu2404_dedicated_disk_tmp_apply
    - cis_ubuntu2404_dedicated_disk_vgname not in ansible_lvm.vgs
  ansible.builtin.import_tasks:
    file: dedicated_disk.yml
  tags:
    - cis_ubuntu2404_level_1_server
    - cis_ubuntu2404_level_1_workstation
    - cis_ubuntu2404_control_4_8
    - cis_ubuntu2404_ig_2
    - cis_ubuntu2404_ig_3

- name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Task block
  when:
    - cis_ubuntu2404_dedicated_disk_apply
    - cis_ubuntu2404_dedicated_disk_tmp_apply
    - cis_ubuntu2404_dedicated_disk_vgname in ansible_lvm.vgs
  tags:
    - cis_ubuntu2404_level_1_server
    - cis_ubuntu2404_level_1_workstation
    - cis_ubuntu2404_control_4_8
    - cis_ubuntu2404_ig_2
    - cis_ubuntu2404_ig_3
  block:
    - name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Logical volume
      community.general.lvol:
        vg: "{{ cis_ubuntu2404_dedicated_disk_vgname }}"
        lv: "{{ cis_ubuntu2404_dedicated_disk_tmp_lvol }}"
        size: "{{ cis_ubuntu2404_dedicated_disk_tmp_size }}"
      register: tmp_lvol

    - name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Filesystem
      when: tmp_lvol is success
      community.general.filesystem:
        fstype: "{{ cis_ubuntu2404_dedicated_disk_tmp_type }}"
        dev: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_tmp_lvol }}"
      register: tmp_filesystem
    
    # - name: 1.1.2.1.1 | Ensure /tmp is a separate partition | Sync data
    #   when: tmp_filesystem.changed
    #   dtvlinux.cis_hardening.filesystem_sync:
    #     path: /tmp
    #     device: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_tmp_lvol }}"

- name: 1.1.2.1.[2,3,4] | Ensure [nodev,nosid,noexec] option set on /tmp partition | Fstab
  when:
    - cis_ubuntu2404_dedicated_disk_apply
    - cis_ubuntu2404_dedicated_disk_tmp_apply
    - tmp_filesystem.changed
  ansible.posix.mount:
    path: /tmp
    src: "/dev/{{ cis_ubuntu2404_dedicated_disk_vgname }}/{{ cis_ubuntu2404_dedicated_disk_tmp_lvol }}"
    fstype: "{{ cis_ubuntu2404_dedicated_disk_tmp_type }}"
    opts: "{{ cis_ubuntu2404_dedicated_disk_tmp_options }}"
    dump: "{{ cis_ubuntu2404_dedicated_disk_tmp_dump }}"
    passno: "{{ cis_ubuntu2404_dedicated_disk_tmp_passno }}"
    state: present
    backup: yes
  notify: Reboot system
  tags:
    - cis_ubuntu2404_level_1_server
    - cis_ubuntu2404_level_1_workstation
    - cis_ubuntu2404_control_3_3
    - cis_ubuntu2404_control_4_8
    - cis_ubuntu2404_ig_1
    - cis_ubuntu2404_ig_2
    - cis_ubuntu2404_ig_3


# - name: 1.1.2.1.[2,3,4] | Ensure [nodev,nosid,noexec] option set on /tmp partition | Remount
#   when: >-
#     tmp_fstab_entry.changed
#     and
#     ansible_facts.mounts | selectattr('mount', 'equalto', partition.path) | list | length > 0
#     and
#     (
#       ansible_facts.mounts | selectattr('mount', 'equalto', partition.path) | first | default({'device': 'none'})
#     ).device in [
#       "/dev/mapper/" ~ vgname | replace('-', '--') ~ "-" ~ partition.lvol | replace('-', '--'),
#       "/dev/" ~ vgname ~ "/" ~ partition.lvol
#     ]
#   ansible.posix.mount:
#     path: "{{ partition.path }}"
#     state: remounted
