---
- name: 1.1.1.1 | Ensure cramfs kernel module is not available
  when: cis_1_1_1_1_apply
  dtvlinux.cis_hardening.disable_modules:
    config_file: "{{ cis_1_1_1_1_conf }}"
    modules: cramfs
  tags:
    - cis_1_1_1_1
    - cis_control_4_8
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level_1_server
    - cis_level_1_workstation

- name: 1.1.1.2 | Ensure freevxfs kernel module is not available
  when: cis_1_1_1_2_apply
  dtvlinux.cis_hardening.disable_modules:
    config_file: "{{ cis_1_1_1_2_conf }}"
    modules: freevxfs
  tags:
    - cis_1_1_1_2
    - cis_control_4_8
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level_1_server
    - cis_level_1_workstation

- name: 1.1.1.3 | Ensure hfs kernel module is not available
  when: cis_1_1_1_3_apply
  dtvlinux.cis_hardening.disable_modules:
    config_file: "{{ cis_1_1_1_3_conf }}"
    modules: hfs
  tags:
    - cis_1_1_1_3
    - cis_control_4_8
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level_1_server
    - cis_level_1_workstation

- name: 1.1.1.4 | Ensure hfsplus kernel module is not available
  when: cis_1_1_1_4_apply
  dtvlinux.cis_hardening.disable_modules:
    config_file: "{{ cis_1_1_1_4_conf }}"
    modules: hfsplus
  tags:
    - cis_1_1_1_4
    - cis_control_4_8
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level_1_server
    - cis_level_1_workstation

- name: 1.1.1.5 | Ensure jffs2 kernel module is not available
  when: cis_1_1_1_5_apply
  dtvlinux.cis_hardening.disable_modules:
    config_file: "{{ cis_1_1_1_5_conf }}"
    modules: jffs2
  tags:
    - cis_1_1_1_5
    - cis_control_4_8
    - cis_level_1_server
    - cis_level_1_workstation
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level_1_server
    - cis_level_1_workstation

- name: 1.1.1.6 | Ensure overlayfs kernel module is not available
  when: cis_1_1_1_6_apply
  dtvlinux.cis_hardening.disable_modules:
    config_file: "{{ cis_1_1_1_6_conf }}"
    modules: overlayfs
  tags:
    - cis_1_1_1_6
    - cis_control_4_8
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level2_server
    - cis_level2_workstation

- name: 1.1.1.7 | Ensure squashfs kernel module is not available
  when: cis_1_1_1_7_apply
  dtvlinux.cis_hardening.disable_modules:
    config_file: "{{ cis_1_1_1_7_conf }}"
    modules: squashfs
  tags:
    - cis_1_1_1_7
    - cis_control_4_8
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level2_server
    - cis_level2_workstation

- name: 1.1.1.8 | Ensure udf kernel module is not available
  when: cis_1_1_1_8_apply
  dtvlinux.cis_hardening.disable_modules:
    config_file: "{{ cis_1_1_1_8_conf }}"
    modules: udf
  tags:
    - cis_1_1_1_8
    - cis_control_4_8
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level2_server
    - cis_level2_workstation

- name: 1.1.1.9 | Ensure usb-storage kernel module is not available
  when: cis_1_1_1_9_apply
  dtvlinux.cis_hardening.disable_modules:
    config_file: "{{ cis_1_1_1_9_conf }}"
    modules: usb-storage
  tags:
    - cis_1_1_1_9
    - cis_control_10_3
    - cis_implementation_group_1
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level_1_server
    - cis_level2_workstation

- name: "1.1.1.10 | Ensure unused filesystems kernel modules are not available | Set fact cis_1_1_1_10_modules"
  when: cis_1_1_1_10_apply
  ansible.builtin.set_fact:
    cis_1_1_1_10_modules: >-
      {%- set module_list = [] -%}
      {%- for var_name in q('ansible.builtin.varnames', '^cis_1_1_1_10_module_') -%}
        {%- if lookup('ansible.builtin.vars', var_name) | bool -%}
          {%- set _ = module_list.append(var_name | replace('cis_1_1_1_10_module_', '')) -%}
        {%- endif -%}
      {%- endfor -%}
      {{ module_list | list }}
  tags: 
    - cis_1_1_1_10
    - cis_control_4_8
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level_1_server
    - cis_level_1_workstation

- name: "1.1.1.10 | Ensure unused filesystems kernel modules are not available"
  when: 
    - cis_1_1_1_10_modules is defined
    - cis_1_1_1_10_modules | length > 0
  dtvlinux.cis_hardening.disable_modules:
    config_file: "{{ cis_1_1_1_10_conf }}"
    modules: "{{ cis_1_1_1_10_modules }}"
  tags:
    - cis_1_1_1_10
    - cis_control_4_8
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level_1_server
    - cis_level_1_workstation
