---
- name: 1.1.2.1 | Configure /tmp | Import tasks
  when: cis_1_1_2_1_apply
  ansible.builtin.import_tasks:
    file: 1_1_2_1_configure_tmp.yml
  tags: 
    - cis_1_1_2_1

- name: 1.1.2.2 | Configure /dev/shm
  ansible.posix.mount:
    path: /dev/shm
    src: tmpfs
    fstype: tmpfs
    opts: "{{ cis_1_1_2_2_fs_options }}"
    dump: 0
    passno: 0
    state: mounted
  tags:
    - cis_1_1_2_2
    - cis_1_1_2_2_1
    - cis_1_1_2_2_2
    - cis_1_1_2_2_3
    - cis_1_1_2_2_4
    - cis_control_3_3
    - cis_control_4_8
    - cis_implementation_group_1
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level_1_server
    - cis_level_1_workstation

- name: 1.1.2.3 | Configure /home | Import tasks
  when:
    - cis_1_1_2_3_apply
    - create_volume_group is success
  ansible.builtin.import_tasks:
    file: 1_1_2_3_configure_home.yml
  tags: 
    - cis_1_1_2_3
