---
- name: 1.1.2.x | Configure partitions | Task block"
  vars:
    disk_path: "{{ cis_1_1_2_disk_path }}"
    sync: true
  tags:
    - cis_control_3_3
    - cis_implementation_group_1
    - cis_implementation_group_2
    - cis_implementation_group_3
    - cis_level_1_server
    - cis_level_1_workstation
  block:
    - name: 1.1.2.1 | Configure /tmp | Import tasks
      vars:
        path: /tmp
        sync: false
        task_name_prefix1: "1.1.2.1.1 | Ensure {{ path }} is a separate partition"
        task_name_prefix2: "1.1.2.1.[2,3,4] | Ensure [nosuid,nodev,noexec] option set on {{ path }} partition"
        fs_type: "{{ cis_1_1_2_1_fs_type }}"
        fs_options: "{{ cis_1_1_2_1_fs_options }}"
        fs_dump: "{{ cis_1_1_2_1_fs_dump }}"
        fs_passno: "{{ cis_1_1_2_1_fs_passno }}"
        lv_name: "{{ cis_1_1_2_1_lv_name }}" 
        lv_size: "{{ cis_1_1_2_1_lv_size }}"
        lv_path: "/dev/{{ cis_1_1_2_vg_name }}/{{ lv_name }}"
        mapper_path: "/dev/mapper/{{ cis_1_1_2_vg_name | replace('-', '--') }}-{{ lv_name | replace('-', '--') }}"
      when: cis_1_1_2_1_apply
      ansible.builtin.import_tasks:
        file: 1_1_2_x_import_tasks.yml
      tags: 
        - cis_1_1_2_1
        - cis_1_1_2_1_1
        - cis_1_1_2_1_2
        - cis_1_1_2_1_3
        - cis_1_1_2_1_4
        - cis_control_4_8

    - name: 1.1.2.2 | Configure /dev/shm
      ansible.posix.mount:
        path: /dev/shm
        src: tmpfs
        fstype: tmpfs
        opts: "{{ cis_1_1_2_2_fs_options }}"
        dump: 0
        passno: 0
        state: mounted
      tags:
        - cis_1_1_2_2
        - cis_1_1_2_2_1
        - cis_1_1_2_2_2
        - cis_1_1_2_2_3
        - cis_1_1_2_2_4
        - cis_control_4_8

    - name: 1.1.2.3 | Configure /home | Import tasks
      vars:
        path: /home
        task_name_prefix1: "1.1.2.3.1 | Ensure {{ path }} is a separate partition"
        task_name_prefix2: "1.1.2.3.[2,3] | Ensure [nosuid,nodev] option set on {{ path }} partition"
        fs_type: "{{ cis_1_1_2_3_fs_type }}"
        fs_options: "{{ cis_1_1_2_3_fs_options }}"
        fs_dump: "{{ cis_1_1_2_3_fs_dump }}"
        fs_passno: "{{ cis_1_1_2_3_fs_passno }}"
        lv_name: "{{ cis_1_1_2_3_lv_name }}" 
        lv_size: "{{ cis_1_1_2_3_lv_size }}"
        lv_path: "/dev/{{ cis_1_1_2_vg_name }}/{{ lv_name }}"
        mapper_path: "/dev/mapper/{{ cis_1_1_2_vg_name | replace('-', '--') }}-{{ lv_name | replace('-', '--') }}"
      when: cis_1_1_2_3_apply
      ansible.builtin.import_tasks:
        file: 1_1_2_x_import_tasks.yml
      tags: 
        - cis_1_1_2_3
        - cis_1_1_2_3_1
        - cis_1_1_2_3_2
        - cis_1_1_2_3_3
        - cis_level_2_server
        - cis_level_2_workstation

    - name: 1.1.2.4 | Configure /var | Import tasks
      vars:
        path: /var
        task_name_prefix1: "1.1.2.4.1 | Ensure {{ path }} is a separate partition"
        task_name_prefix2: "1.1.2.4.[2,3] | Ensure [nosuid,nodev] option set on {{ path }} partition"
        fs_type: "{{ cis_1_1_2_4_fs_type }}"
        fs_options: "{{ cis_1_1_2_4_fs_options }}"
        fs_dump: "{{ cis_1_1_2_4_fs_dump }}"
        fs_passno: "{{ cis_1_1_2_4_fs_passno }}"
        lv_name: "{{ cis_1_1_2_4_lv_name }}" 
        lv_size: "{{ cis_1_1_2_4_lv_size }}"
        lv_path: "/dev/{{ cis_1_1_2_vg_name }}/{{ lv_name }}"
        mapper_path: "/dev/mapper/{{ cis_1_1_2_vg_name | replace('-', '--') }}-{{ lv_name | replace('-', '--') }}"
      when: cis_1_1_2_4_apply
      ansible.builtin.import_tasks:
        file: 1_1_2_x_import_tasks.yml
      tags: 
        - cis_1_1_2_4
        - cis_1_1_2_4_1
        - cis_1_1_2_4_2
        - cis_1_1_2_4_3
        - cis_level_2_server
        - cis_level_2_workstation

    - name: 1.1.2.5 | Configure /var/tmp | Import tasks
      vars:
        path: /var/tmp
        task_name_prefix1: "1.1.2.5.1 | Ensure {{ path }} is a separate partition"
        task_name_prefix2: "1.1.2.5.[2,3,4] | Ensure [nosuid,nodev,noexec] option set on {{ path }} partition"
        disk_path: "{{ cis_1_1_2_disk_path }}"
        fs_type: "{{ cis_1_1_2_5_fs_type }}"
        fs_options: "{{ cis_1_1_2_5_fs_options }}"
        fs_dump: "{{ cis_1_1_2_5_fs_dump }}"
        fs_passno: "{{ cis_1_1_2_5_fs_passno }}"
        lv_name: "{{ cis_1_1_2_5_lv_name }}" 
        lv_size: "{{ cis_1_1_2_5_lv_size }}"
        lv_path: "/dev/{{ cis_1_1_2_vg_name }}/{{ lv_name }}"
        mapper_path: "/dev/mapper/{{ cis_1_1_2_vg_name | replace('-', '--') }}-{{ lv_name | replace('-', '--') }}"
      when: cis_1_1_2_5_apply
      ansible.builtin.import_tasks:
        file: 1_1_2_x_import_tasks.yml
      tags: 
        - cis_1_1_2_5
        - cis_1_1_2_5_1
        - cis_1_1_2_5_2
        - cis_1_1_2_5_3
        - cis_1_1_2_5_4
        - cis_level_2_server
        - cis_level_2_workstation

    - name: 1.1.2.6 | Configure /var/log | Import tasks
      vars:
        path: /var/log
        task_name_prefix1: "1.1.2.6.1 | Ensure {{ path }} is a separate partition"
        task_name_prefix2: "1.1.2.6.[2,3,4] | Ensure [nosuid,nodev,noexec] option set on {{ path }} partition"
        disk_path: "{{ cis_1_1_2_disk_path }}"
        fs_type: "{{ cis_1_1_2_6_fs_type }}"
        fs_options: "{{ cis_1_1_2_6_fs_options }}"
        fs_dump: "{{ cis_1_1_2_6_fs_dump }}"
        fs_passno: "{{ cis_1_1_2_6_fs_passno }}"
        lv_name: "{{ cis_1_1_2_6_lv_name }}" 
        lv_size: "{{ cis_1_1_2_6_lv_size }}"
        lv_path: "/dev/{{ cis_1_1_2_vg_name }}/{{ lv_name }}"
        mapper_path: "/dev/mapper/{{ cis_1_1_2_vg_name | replace('-', '--') }}-{{ lv_name | replace('-', '--') }}"
      when: cis_1_1_2_6_apply
      ansible.builtin.import_tasks:
        file: 1_1_2_x_import_tasks.yml
      tags: 
        - cis_1_1_2_6
        - cis_1_1_2_6_1
        - cis_1_1_2_6_2
        - cis_1_1_2_6_3
        - cis_1_1_2_6_4
        - cis_control_8_3
        - cis_level_2_server
        - cis_level_2_workstation

    - name: 1.1.2.7 | Configure /var/log/audit | Import tasks
      vars:
        path: /var/log/audit
        task_name_prefix1: "1.1.2.7.1 | Ensure {{ path }} is a separate partition"
        task_name_prefix2: "1.1.2.7.[2,3,4] | Ensure [nosuid,nodev,noexec] option set on {{ path }} partition"
        disk_path: "{{ cis_1_1_2_disk_path }}"
        fs_type: "{{ cis_1_1_2_7_fs_type }}"
        fs_options: "{{ cis_1_1_2_7_fs_options }}"
        fs_dump: "{{ cis_1_1_2_7_fs_dump }}"
        fs_passno: "{{ cis_1_1_2_7_fs_passno }}"
        lv_name: "{{ cis_1_1_2_7_lv_name }}" 
        lv_size: "{{ cis_1_1_2_7_lv_size }}"
        lv_path: "/dev/{{ cis_1_1_2_vg_name }}/{{ lv_name }}"
        mapper_path: "/dev/mapper/{{ cis_1_1_2_vg_name | replace('-', '--') }}-{{ lv_name | replace('-', '--') }}"
      when: cis_1_1_2_6_apply
      ansible.builtin.import_tasks:
        file: 1_1_2_x_import_tasks.yml
      tags: 
        - cis_1_1_2_6
        - cis_1_1_2_6_1
        - cis_1_1_2_6_2
        - cis_1_1_2_6_3
        - cis_1_1_2_6_4
        - cis_control_8_3
        - cis_level_2_server
        - cis_level_2_workstation
