---
- name: "Import tasks for role"
  when: >
    ansible_facts["distribution"]               == 'Ubuntu' and
    ansible_facts["distribution_major_version"] == '24'
  tags: cis_hardening_ubuntu
  block:
    - name: Pre Checks | 1.1.2 | Configure filesystem partitions
      ansible.builtin.import_tasks:
        file: pre_checks/1_1_2_configure_filesystem_partitions.yml
      tags: always

    # Can take along time to run on shutdown and even hangs interfering with reboot tasks
    - name: Stop unattended-upgrades service
      ansible.builtin.service:
        name: unattended-upgrades
        state: stopped
        enabled: false
      tags: always

    - name: 1 | Initial setup | Import tasks
      when: cis_1_apply
      ansible.builtin.import_tasks:
        file: 1_initial_setup/main.yml
      tags: "cis_1"
