---
- name: Reboot system
  ansible.builtin.reboot:
    msg: Rebooting to apply CIS hardening changes
    connect_timeout: 5
    reboot_timeout: 600
    pre_reboot_delay: 0
    post_reboot_delay: 30
    test_command: uptime
