---
- name: Rebooting system for partition changes
  listen: dtvlinux.cis_hardening.reboot
  when:
    - cis_ubuntu2404_reboot
    - 
      (
        tmp_partition_result.reboot_required | default(false) | bool or
        home_partition_result.reboot_required | default(false) | bool or
        var_partition_result.reboot_required | default(false) | bool or
        var_tmp_partition_result.reboot_required | default(false) | bool or
        var_log_partition_result.reboot_required | default(false) | bool or
        var_log_audit_partition_result.reboot_required | default(false) | bool
      )
  ansible.builtin.reboot:
    msg: Rebooting to apply partition changes
    connect_timeout: 5
    reboot_timeout: 300
    pre_reboot_delay: 0
    post_reboot_delay: 30
    test_command: uptime

- name: Remount /tmp
  when: >
    not (
      (tmp_partition_result.reboot_required | default(false)) or
      (home_partition_result.reboot_required | default(false)) or
      (var_partition_result.reboot_required | default(false)) or
      (var_tmp_partition_result.reboot_required | default(false)) or
      (var_log_partition_result.reboot_required | default(false)) or
      (var_log_audit_partition_result.reboot_required | default(false))
    )
  ansible.builtin.shell:
    cmd: >
      grep -q "{{ cis_ubuntu2404_dedicated_disk_tmp_lvol | replace('-', '--') }}" /proc/mounts &&
      mount -o remount /tmp
  changed_when: true
  failed_when: false

- name: Remount /dev/shm
  ansible.builtin.command:
    cmd: mount -o remount /dev/shm
  changed_when: true
  failed_when: false

- name: Remount /home
  ansible.builtin.shell:
    cmd: >
      grep -q "{{ cis_ubuntu2404_dedicated_disk_home_lvol | replace('-', '--') }}" /proc/mounts &&
      mount -o remount /home
  changed_when: true
  failed_when: false

- name: Remount /var
  ansible.builtin.shell:
    cmd: >
      grep -q "{{ cis_ubuntu2404_dedicated_disk_var_lvol | replace('-', '--') }}" /proc/mounts &&
      mount -o remount /var
  changed_when: true
  failed_when: false

- name: Remount /var/tmp
  ansible.builtin.shell:
    cmd: >
      grep -q "{{ cis_ubuntu2404_dedicated_disk_var_tmp_lvol | replace('-', '--') }}" /proc/mounts &&
      mount -o remount /var/tmp
  changed_when: true
  failed_when: false

- name: Remount /var/log
  ansible.builtin.shell:
    cmd: >
      grep -q "{{ cis_ubuntu2404_dedicated_disk_var_log_lvol | replace('-', '--') }}" /proc/mounts &&
      mount -o remount /var/log
  changed_when: true
  failed_when: false

- name: Remount /var/log/audit
  ansible.builtin.shell:
    cmd: >
      grep -q "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_lvol | replace('-', '--') }}" /proc/mounts &&
      mount -o remount /var/log/audit
  changed_when: true
  failed_when: false
