---
# 1.1.2 - Configure filesystem partitions - 
cis_ubuntu2404_partitions:
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_tmp_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_tmp_size }}" }
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_home_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_home_size }}" }
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_var_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_var_size }}" }
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_var_tmp_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_var_tmp_size }}" }
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_var_log_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_var_log_size }}" }
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_size }}" }

cis_ubuntu2404_required_bytes: >-
  {{ cis_ubuntu2404_partitions 
     | selectattr('apply', 'sameas', true) 
     | map(attribute='size') 
     | map('ansible.builtin.human_to_bytes') 
     | sum }}
