---
# 1.1.1.10 - Loop through modules set to true and put into list for easy parsing
cis_ubuntu2404_unused_filesystems_module_list: >-
  {%- set module_list = [] -%}
  {%- for var_name in q('ansible.builtin.varnames', '^cis_ubuntu2404_unused_filesystems_') -%}
    {%- if '_module_list' not in var_name and '_apply' not in var_name and '_conf' not in var_name -%}
      {%- if lookup('ansible.builtin.vars', var_name) | bool -%}
        {%- set _ = module_list.append(var_name | replace('cis_ubuntu2404_unused_filesystems_', '')) -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {{ module_list }}

# 1.1.2 - Used for size calculations
cis_ubuntu2404_partitions:
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_tmp_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_tmp_size }}" }
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_home_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_home_size }}" }
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_var_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_var_size }}" }
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_var_tmp_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_var_tmp_size }}" }
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_var_log_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_var_log_size }}" }
  - { apply: "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_apply }}", size: "{{ cis_ubuntu2404_dedicated_disk_var_log_audit_size }}" }

cis_ubuntu2404_required_bytes: >-
  {{ cis_ubuntu2404_partitions 
     | selectattr('apply', 'sameas', true) 
     | map(attribute='size') 
     | map('ansible.builtin.human_to_bytes') 
     | sum }}
