---
- name: "{{ partition.task_prefix1 }} | Task block"
  notify: Reboot system
  block:
    - name: "{{ partition.task_prefix1 }} | Volume group"
      community.general.lvg:
        vg: "{{ vgname }}"
        pvs: "{{ device }}"

    - name: "{{ partition.task_prefix1 }} | Logical volume"
      community.general.lvol:
        vg: "{{ vgname }}"
        lv: "{{ partition.lvol }}"
        size: "{{ partition.size }}"

    - name: "{{ partition.task_prefix1 }} | Filesystem"
      community.general.filesystem:
        fstype: "{{ partition.type }}"
        dev: "/dev/{{ vgname }}/{{ partition.lvol }}"
      register: filesystem
    
    - name: "{{ partition.task_prefix1 }} | Sync data"
      when:
        - filesystem.changed
        - partition.sync
      dtvlinux.cis_hardening.filesystem_sync:
        path: "{{ partition.path }}"
        device: "/dev/{{ vgname }}/{{ partition.lvol }}"

- name: "{{ partition.task_prefix2 }} | LVM fact update"
  ansible.builtin.setup:
    filter: "ansible_lvm"

- name: "{{ partition.task_prefix2 }} | Fstab"
  ansible.posix.mount:
    path: "{{ partition.path }}"
    src: "/dev/{{ vgname }}/{{ partition.lvol }}"
    fstype: "{{ partition.type }}"
    opts: "{{ partition.opts }}"
    dump: "{{ partition.dump }}"
    passno: "{{ partition.pass }}"
    state: present
    backup: yes
  register: fstab_entry

- name: "{{ partition.task_prefix2 }} | Remount"
  when: >-
    fstab_entry.changed
    and
    (ansible_facts.mounts | selectattr('mount', 'equalto', partition.path) | list | length > 0)
    and
    (
      ansible_facts.mounts | selectattr('mount', 'equalto', partition.path) | first | default({'device': 'none'})
    ).device in [
      "/dev/mapper/" ~ vgname | replace('-', '--') ~ "-" ~ partition.lvol | replace('-', '--'),
      "/dev/" ~ vgname ~ "/" ~ partition.lvol
    ]
  ansible.posix.mount:
    path: "{{ partition.path }}"
    state: remounted
