---
- name: 1.1.1.x | Ensure kernel module is not available
  dtvlinux.cis_hardening.disable_modules:
    modules: "{{ item.modules | default([item.name]) }}"
    config_file: "{{ item.conf }}"
  loop:
    - name: cramfs
      rule: '1.1.1.1'
      apply: "{{ cis_ubuntu2404_cramfs_apply }}"
      conf: "{{ cis_ubuntu2404_cramfs_conf }}"
    - name: freevxfs
      rule: '1.1.1.2'
      apply: "{{ cis_ubuntu2404_freevxfs_apply }}"
      conf: "{{ cis_ubuntu2404_freevxfs_conf }}"
    - name: hfs
      rule: '1.1.1.3'
      apply: "{{ cis_ubuntu2404_hfs_apply }}"
      conf: "{{ cis_ubuntu2404_hfs_conf }}"
    - name: hfsplus
      rule: '1.1.1.4'
      apply: "{{ cis_ubuntu2404_hfsplus_apply }}"
      conf: "{{ cis_ubuntu2404_hfsplus_conf }}"
    - name: jffs2
      rule: '1.1.1.5'
      apply: "{{ cis_ubuntu2404_jffs2_apply }}"
      conf: "{{ cis_ubuntu2404_jffs2_conf }}"
    - name: overlayfs
      rule: '1.1.1.6'
      apply: "{{ cis_ubuntu2404_overlayfs_apply }}"
      conf: "{{ cis_ubuntu2404_overlayfs_conf }}"
    - name: squashfs
      rule: '1.1.1.7'
      apply: "{{ cis_ubuntu2404_squashfs_apply }}"
      conf: "{{ cis_ubuntu2404_squashfs_conf }}"
    - name: udf
      rule: '1.1.1.8'
      apply: "{{ cis_ubuntu2404_udf_apply }}"
      conf: "{{ cis_ubuntu2404_udf_conf }}"
    - name: usb-storage
      rule: '1.1.1.9'
      apply: "{{ cis_ubuntu2404_usb_storage_apply }}"
      conf: "{{ cis_ubuntu2404_usb_storage_conf }}"
    - name: unused_filesystems
      rule: '1.1.1.10'
      apply: "{{ cis_ubuntu2404_unused_filesystems_apply }}"
      conf: "{{ cis_ubuntu2404_unused_filesystems_conf }}"
      modules: "{{ cis_ubuntu2404_unused_filesystems_module_list }}"
  loop_control:
    label: "{{ item.rule }} | {{ item.name }}"
  when: item.apply
